.btn {
    display: block;
    width: 30rem;
    height: 6rem;

    overflow: hidden;
    // border-radius: 8px;
    // border: 1px solid #FFB1F3;
    // transition: 0.7s linear;
    background: #FFB1F3;
    // transition: color 0.5s cubic-bezier(0.42, 0, 0.58, 1);

    position: relative;

    span {
        display: block;

        font-size: 2rem;
        line-height: 6.4rem;
        color: #222;
        font-weight: 400;
        white-space: nowrap;
        text-align: center;

        // transition: 0.5s linear;
        transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    &::before {
        content: '';
        background: #000;
        mix-blend-mode: darken;

        transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;

        transform: translateX(-100%);
    }

    &::after {
        content: '';
        background: #000;
        mix-blend-mode: darken;
        transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;

        transform: translateX(100%);
    }

    &:hover {
        &::before {
            transform: translateX(0);
        }
        
        &::after {
            transform: translateX(0);
        }

        span {
            color: #fff;
        }
    }

  /*   &--banner {
        position: absolute;
        right: 64px;
        bottom: 40px;
    } */
}

@media (max-width:1720px) {
    .btn {
        width: 25.8rem;
        height: 5.4rem;
        line-height: 5.4rem
    }

    .btn--banner {
        right: 4rem;
        bottom: 2.4rem
    }
}

@media (max-width:1570px) {
    .btn {
        width: 23.8rem;
        height: 4.4rem;
        font-size: 1.8rem;
        line-height: 4.4rem
    }
}

@media (max-width:1024px) {
    .btn {
        width: 30rem;
        height: 4.8rem;
        font-size: 1.6rem;
        line-height: 4.8rem
    }

    .btn--banner {
        position: static;
        margin: 0 auto
    }
}

@media (max-width:840px) {
    .btn {
        width: 30rem;
        height: 4.8rem;
        font-size: 1.6rem;
        line-height: 4.8rem
    }
}

@media (max-width:425px) {
    .btn {
        width: 100%
    }
}