<header class="header">
    <a class="logo" href="index.html">
        <img class="logo__img" src="img/logo.png" alt="">
    </a>
    <div class="nav">
        <ul class="nav__list">
            <li class="nav__item">
                <a class="nav__link" href="index.html">ГЛАВНАЯ</a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="#aboutSec">О НАС</a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="artists.html">АРТИСТЫ</a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="form.html">КАСТИНГ</a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="contacts.html">КОНТАКТЫ</a>
            </li>
            <li class="nav__item">
                <ul class="lang__list lang__list--header">
                    <li class="lang__item">
                        <a class="lang__link" href="index-eng.html">ENG</a>
                    </li>
                    <li class="lang__item">
                        <a class="lang__link active" href="index.html">RU</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <button class="burger">
        <span class="burger__line">1</span>
        <span class="burger__line">2</span>
        <span class="burger__line">3</span>
    </button>
</header>
